/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/seeds/sql/VeNom/*
/database/seeds/sql/animalia/*
/database/seeds/sql/medicines/*
/database/seeds/sql/develop/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
