/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store

# added by Ababu
/database/seeders/sql/VeNom/*
/database/seeders/sql/animalia/*
/database/seeders/sql/medicines/*
/database/seeders/sql/develop/*
/ababu.session.sql