fieldset{
    border: thin solid black; 
    padding: 7px;
}

legend {
    font-size: 1rem;
    color: lightgray;
    width: auto;
    margin-bottom: 0rem;
    padding: 7px;
}

select+.select2-container {
    width: 100% !important;
}